<dl>
    {% for filter_pair in site.data.services %}
    {% assign filter = filter_pair[1] %}
    <dt class="filter-name">{{ filter.label }}</dt>
    <dd>{{ filter.description | markdownify }}</dd>
    {% endfor %}

    {% for command_pair in site.data.command_types %}
    {% assign command = command_pair[1] %}
    <dt class="filter-name">{{ command.label }}</dt>
    <dd>{{ command.description | markdownify }}</dd>
    {% endfor %}

    {% for environment_pair in site.data.environment_types %}
    {% assign environment = environment_pair[1] %}
    <dt class="filter-name">{{ environment.label }}</dt>
    <dd>{{ environment.description | markdownify }}</dd>
    {% endfor %}

    {% for target_pair in site.data.target %}
    {% assign target = target_pair[1] %}
    <dt class="filter-name">{{ target.label }}</dt>
    <dd>{{ target.description | markdownify }}</dd>
    {% endfor %}

    {% for os_pair in site.data.OS %}
    {% assign os = os_pair[1] %}
    <dt class="filter-name">{{ os.label }}</dt>
    <dd>{{ os.description | markdownify }}</dd>
    {% endfor %}
</dl>
