<ul class="filter-list">
    {% for command_pair in site.data.command_types %}
    {% assign command_id = command_pair[0] %}
    {% assign command = command_pair[1] %}
    {% if include.bin.command_types contains command_id %}
    <li><a href="{{ include.bin.url }}#{{ command_id }}">{{ command.label }}</a></li>
    {% endif %}
    {% endfor %}

    {% for environment_pair in site.data.environment_types %}
    {% assign environment_id = environment_pair[0] %}
    {% assign environment = environment_pair[1] %}
    {% if include.bin.environment_types contains environment_id %}
    <li><a href="{{ include.bin.url }}#{{ environment_id }}">{{ environment.label }}</a></li>
    {% endif %}
    {% endfor %}

    {% for target_pair in site.data.target %}
    {% assign target_id = target_pair[0] %}
    {% assign target = target_pair[1] %}
    {% if include.bin.target contains target_id %}
    <li><a href="{{ include.bin.url }}#{{ target_id }}">{{ target.label }}</a></li>
    {% endif %}
    {% endfor %}

    {% for item_pair in site.data.items %}
    {% assign item_id = item_pair[0] %}
    {% assign item = item_pair[1] %}
    {% if include.bin.items contains item_id %}
    <li><a href="{{ include.bin.url }}#{{ item_id }}">{{ item.label }}</a></li>
    {% endif %}
    {% endfor %}

    {% for service_pair in site.data.services %}
    {% assign service_id = service_pair[0] %}
    {% assign service = service_pair[1] %}
    {% if include.bin.services contains service_id %}
    <li><a href="{{ include.bin.url }}#{{ service_id }}">{{ service.label }}</a></li>
    {% endif %}
    {% endfor %}

    {% for OS_pair in site.data.OS %}
    {% assign OS_id = OS_pair[0] %}
    {% assign OS = OS_pair[1] %}
    {% if include.bin.OS contains OS_id %}
    <li><a href="{{ include.bin.url }}#{{ OS_id }}">{{ OS.label }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
